imgurpython==1.1.7
pyimgur==0.6.0
certifi==2021.5.30
quickdraw==0.2.0
chardet==4.0.0
numpy
click==8.0.1
Flask==2.0.1
httplib2==0.19.1
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
nose==1.3.7
oauth2==1.9.0.post1
plurk-api==2.0.2
plurk_oauth
protobuf==3.17.0
pyparsing==2.4.7
pygsheets==2.0.5
redis==3.5.3
requests==2.25.1
rq==1.8.1
six==1.16.0
typing==3.7.4.3
urllib3==1.26.5
Werkzeug==2.0.1
gunicorn
